.box-container {
    height: 50px;
    background-color: bisque;
}

.title-brand {
    font-size: 16pt;
    color: #000000;
    padding: 10px;
}

.btn-gold {
    background-color: #F9A826;
    color: #ffffff;
    font-size: 10pt;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
}

.btn-gold:hover {
    background-color: #6C63FF;
    color: #ffffff;
}

.card-product {
    border-radius: 5px;
}

.title-product {
    font-size: 10pt;
}